*
{
    margin:0px;
    padding:0px;
}

html
{
    background-color: #38393D;
}

#header
{
    height:25vh;
    margin-left:25%;
    margin-right:25%;
}

#map
{
    height:100vh;
    margin-left:25%;
    margin-right:25%;
    margin-top:auto;
    margin-bottom:auto;
}

#landscape
{
    height:30vh;
}

@media only screen and (max-width: 600px) 
{
    *
    {
        margin:0px;
        padding:0px;
    }
    #header
    {
        width:100%;
        height:10%;
        margin-left:0%;
        margin-right:0%;
    }

    #map
    {
        width:100%;
        height:60%;
        margin-left:0%;
        margin-right:0%;
    }

    #landscape
    {
        width:100%;
    }
}